<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../assets/WhatsApp-Image-2018-02-22-at-9.36.37-AM.jpeg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Torneio de boxe</h5>
      <p class="card-text">Torneio de boxe, acontecera na quadra do rubens vaz, na comunidade Nova Holanda</p>
      <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../assets/beltrame-na-maré-.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Debate sobre a cultura na favela</h5>
      <p class="card-text">Debate aberto sobre a cultura nas favelas, acontecerá no gapão bela maré, Rua Bitencourt Sampaio Maré as H15:00</p>
      <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../assets/protesto_moradores_mare.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Debate sobre violencia na favela </h5>
      <p class="card-text">Mese de debate sobre a violencia suportada por todos moradores de comunidades, acontecera no observatorio de Favela, Rua Texeira Ribeiro Nº535 Maré as H16:00 </p>
      <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
</div>