.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../assets/cu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


/* Um simples comentário */
.li.nav-item.active{

  background: white;

}

.div{
  height: 100vh;
  min-height: 500px;
  background-image: url('../assets/cu.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


